<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-buttons end>
      <button *ngIf="readonly" ion-button (click)="toggleReadonly()">Edit</button>
      <button *ngIf="!readonly" [disabled]="!newListItem.valid" ion-button (click)="save()">Save</button>
    </ion-buttons>


    <ion-title>Player</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <form [formGroup]="newListItem">
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input type="text" formControlName="title" readonly="{{readonly}}"></ion-input>
    </ion-item>
    <button *ngIf="!readonly" ion-button (click)="removeListItem()">Delete</button>
  </form>

</ion-content>
